@{
    ViewBag.Title = "系统日志列表页";
}

@section js {
    <script type="text/javascript">
        $(function () {
            $('#box').datagrid({
                width: 700,
                url: '/Back/UserLog/GetListView',
                title: '系统日志列表',
                iconCls: 'icon-table',
                nowrap: true,
                striped: true,
                border: true,
                collapsible: false,//是否可折叠的
                fit: true,//自动大小
                columns: [[
                    {
                        field: 'LoginName',
                        title: '帐号',
                        width: 200,
                    },
                    {
                        field: 'LogTime',
                        title: '登陆时间',
                        width: 200
                    }, {
                        field: 'Ip',
                        title: 'Ip地址',
                        width: 200,
                    },{
                        field: 'Address',
                        title: '地点',
                        width: 200,
                    }
                ]],

                singleSelect: false,//是否单选
                rownumbers: true,//行号
                frozenColumns: [[
                    { field: 'ck', checkbox: true }
                ]],
                toolbar: '#tb',
                pagination: true,
                pageSize: 20,
                pageList: [20, 30, 40, 50, 100],
                pageNumber: 1,
                pagePosition: 'bottom',
            });


        });

        var op = {
            search: function () {
                $('#box').datagrid('load', {
                    LoginName: $.trim($('#LoginName').val()),
                    beginDate: $.trim($("input[name='beginDate']").val()),
                    endDate: $.trim($("input[name='endDate']").val())
                });
            },
            remove: function () {
                var rows = $('#box').datagrid('getSelections');
                if (rows.length > 0) {
                    $.messager.confirm('确定操作', '您正在要删除所选的记录吗？', function (flag) {
                        if (flag) {
                            var ids = [];
                            for (var i = 0; i < rows.length; i++) {
                                ids.push(rows[i].Id);
                            }
                            debugger
                            ajaxOp.url = "/Back/UserLog/Delete";
                            ajaxOp.data = { ids: ids.join(',') };
                            ajaxOp.su = function (result) {
                                if (result != null && result.Message == "Success") {
                                    $('#box').datagrid('reload');
                                } else {
                                    $.messager.alert('提示信息', '删除异常！', 'warning');
                                }
                            };
                            ajaxOp.Exec();
                        }
                    });
                } else {
                    $.messager.alert('提示', '请选择要删除的记录！', 'info');
                }
            },
        };
    </script>
}

<table id="box"></table>

<div id="tb" style="padding:5px;">
    <div style="margin-bottom:5px;">
@*        <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true">添加</a>*@
@*        <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true">修改</a>*@
        <a href="#" class="easyui-linkbutton" iconcls="icon-remove" onclick="op.remove()" plain="true">删除</a>
    </div>
    <div style="padding:0 0 0 7px;color:#333;">
        查询帐号：<input type="text" class="textbox" id="LoginName" name="LoginName" style="width:110px">
        登陆时间：<input type="text" data-options="buttons:buttons" id="beginDate" name="beginDate" class="easyui-datebox" editable="false" style="width:110px">&nbsp;-&nbsp;<input type="text" name="endDate" class="easyui-datebox" data-options="buttons:buttons" editable="false" style="width:110px">
        <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="op.search();">查询</a>
    </div>
</div>
