<div class="bottombj">
    <div class="bottom">
        <p>京ICP证040431号 互联网出版许可证 新出网证(京)字008号 北京市公安局海淀分局 备案号：110 1081725</p>
        <p>© 2013中国知网(CNKI) 中国学术期刊(光盘版)电子杂志社</p>
        <p>KDN平台基础技术由KBASE 10.0提供. </p>
    </div>
</div>
