
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>无标题文档</title>

    <style type="text/css">
        body {
            font-family: "微软雅黑", Arial, sans-serif;
        }

        #main {
            border: none;
            background: none;
        }

        body, ul, li, h1, h2, h3, p, form {
            margin: 0;
            padding: 0;
        }

        body {
            background: #fbfbfb;
            color: #444;
            font-size: 14px;
        }

        a {
            color: #444;
            text-decoration: none;
        }

            a:hover {
                color: red;
            }

        /* tagscloud */
        #tagscloud {
            width: 500px;
            height: 400px;
            position: relative;
            font-size: 12px;
            color: #333;
            margin: 20px auto 0;
            text-align: center;
        }

            #tagscloud a {
                position: absolute;
                top: 0px;
                left: 0px;
                color: #333;
                font-family: Arial;
                text-decoration: none;
                margin: 0 10px 15px 0;
                line-height: 18px;
                text-align: center;
                font-size: 12px;
                padding: 1px 5px;
                display: inline-block;
                border-radius: 3px;
            }

                #tagscloud a.tagc1 {
                    background: #666;
                    color: #fff;
                }

                #tagscloud a.tagc2 {
                    background: #F16E50;
                    color: #fff;
                }

                #tagscloud a.tagc3 {
                    background: #006633;
                    color: #fff;
                }


                #tagscloud a.tagc4 {
                    background: yellow;
                    color: #fff;
                }

                #tagscloud a.tagc5 {
                    background: red;
                    color: #fff;
                }

                #tagscloud a.tagc6 {
                    background: green;
                    color: #fff;
                }

                #tagscloud a:hover {
                    color: #fff;
                    background: #0099ff;
                }
    </style>
</head>
<body>

    <div id="tagscloud">
        <a href="#" class="tagc1">银行存款利率</a>
        <a href="#" class="tagc2">银行利率</a>
        <a href="#" class="tagc5">银行贷款利率</a>
        <a href="#" class="tagc2">
            银行存款利率
        </a>
        <a href="#" class="tagc2">银行利率2</a>
        <a href="#" class="tagc1">不孕不育3</a>
        <a href="#" class="tagc2">银行存款利率4</a>
        <a href="#" class="tagc5">银行贷款利率5</a>
        <a href="http://www.17sucai.com/" class="tagc2">银行利率3</a>
        <a href="http://www.17sucai.com/" class="tagc2">房贷利率20133</a>
        <a href="http://www.17sucai.com/" class="tagc5">银行存款利率表3</a>
        <a href="http://www.17sucai.com/" class="tagc2">银行贷款利率表234</a>
        <a href="http://www.17sucai.com/" class="tagc1">银行存款利率234</a>
        <a href="http://www.17sucai.com/" class="tagc2">银行利率134</a>
        <a href="http://www.17sucai.com/" class="tagc5">银行贷款利率2343</a>
        <a href="http://www.17sucai.com/" class="tagc2">
            银行存款利率
        </a>
        <a href="http://www.17sucai.com/" class="tagc2">银行利率</a>
        <a href="http://www.17sucai.com/" class="tagc1">不孕不育</a>
        <a href="http://www.17sucai.com/" class="tagc2">银行存款利率</a>
        <a href="http://www.17sucai.com/" class="tagc5">银行贷款利率</a>
        <a href="http://www.17sucai.com/" class="tagc2">银行利率</a>
        <a href="http://www.17sucai.com/" class="tagc2">房贷利率2013</a>
        <a href="http://www.17sucai.com/" class="tagc5">银行存款利率表</a>
        <a href="http://www.17sucai.com/" class="tagc2">银行贷款利率表</a>
    </div>

    <script src="~/Scripts/jquery-1.4.2.min.js"></script>
    <script src="~/Scripts/tagscloud.js"></script>

</body>
</html>
