
@{
    ViewBag.Title = "vr";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h2>vr</h2>
<span>
        list 总数： @ViewBag.count
    <br />
    sortlist 总数： @ViewBag.sortcount;
</span>

<br />
<span>
    list top 100：@ViewBag.list
    <br />
    sortlist top 10： @ViewBag.sortlist;
    <br />
    队列长度：@ViewBag.qcount


    <br />
    最大线程数：@ViewBag.maxthreadcount
    <br />
    空闲可用线程数：@ViewBag.availthreadcount

</span>

